@import '~bootstrap/scss/bootstrap';

/* ADMIN */
/* #region admin.blade */

#adminMain{
    min-height: calc(100vh - 10rem)
}

/* #endregion admin.blade */
/* #region index */

.wrapper{
    width: 100px;
    aspect-ratio: 1.5;  
    cursor: pointer;
}

/* #endregion index */
/* #region show */
.padding_show{
    padding: 0 10rem;
}

/* #endregion show */